hr#druhy {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr#prvy {
    display: block;
    content: "";
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

p#cervena {
    font-family: "arial CE";
    font-size: 30px;
    text-align: justify;
    color: red;
    text-decoration: underline;
}

.small_page {
    border: #444 2px solid;
}

#ex {
    color: blue;
    font-size: 50px;
}

.ramik1 {
    border: 5px solid black;
    width: 250px;
}

.ramik2 {
    border: 5px dotted black;
    width: 250px;
}

.ramik3 {
    border: 5px dashed black;
    width: 250px;
}

.ramik4 {
    border: 5px double black;
    width: 250px;
}   

.ramik5 {
    border-left: 5px solid green;
    border-right: 5px dotted blue;
    border-top: 5px dashed red;
    border-bottom: 5px double black;
    width: 250px;
} 
