body {
    font-family: "Lucida Grande";
    padding-top: 45px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1
}

h1#vtexte {
    color: #111D5D;
    text-align:center;
}

h1#priklad {
    font-size: 40px;
}

p {
    font-size: 20px;
    padding: 0 20px;
}

p#vtexte {
    font-family:"arial CE";
    font-size: 20px;
    text-align: justify;
}

pre { 
    font-family:"arial CE";
}

iframe {
	position: absolute;
	top: 150px;
    float: center;
}

dy {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 

}

hr#druhy {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr#prvy {
    display: block;
    content: "";
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

p#cervena {
    font-family:"arial CE";
    font-size: 30px;
    text-align: justify;
    color:red;
    text-decoration: underline;
}

.clockStyle {
  background-color:#444;
  border:#999 2px inset;
  padding:6px;
  color:#0FF;
  font-family:"Arial Black", Gadget, sans-serif;
    font-size:16px;
    font-weight:bold;
  letter-spacing: 2px;
  display:inline;
}

.ramik1 {
  border: 5px solid black;
  width: 250px;
}

.ramik2 {
    border: 5px dotted black;
    width: 250px;
}

.ramik3 {
    border: 5px dashed black;
    width: 250px;
}

.ramik4 {
    border: 5px double black;
    width: 250px;
}   

.ramik5 {
    border-left: 5px solid green;
    border-right: 5px dotted blue;
    border-top: 5px dashed red;
    border-bottom: 5px double black;
    width: 250px;
} 
