body {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Grande";
    padding-top: 50px;
}

aside {
    float: right;
}

.f-right {
    float: right;
}

h1 {
    padding: 0;
    margin: 0;
    color: #1D3461;
    font-family: arial, sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #0D1B1E;
    font-family: arial, sans-serif;
    font-size: 25px;
    padding-left: 20px;
    font-weight: bold;
    clear: both;
}

h3 {
    color: #0D1B1E;
    font-family: arial, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
    clear: both;
}

img {
    margin: 10px 15px;
}

.acont li {
    list-style-type: none;
    margin-top: 5px;
}

.acont a {
     color: #028090;
}

.acont a:hover {
     color: #00A896;
}

h1#vtexte {
    color: #111D5D;
    text-align:center;
}

h1#priklad {
    font-size: 40px;
}

p {
    font-size: 20px;
    padding: 0 20px;
}

footer > p {
    font-size: 14px;
}

p#vtexte {
    font-size: 20px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1
}

.nav ul {
    list-style: none;
    background-color: #39A0ED;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav a {
    text-decoration: none;
    font-variant: small-caps;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #2E7AA8;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;

    border-bottom: 1px solid #02C39A;
}

.kbutton {
    margin: 20px 20px;
    border: 2px solid #39A0ED;
    background-color: #39A0ED;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.kbutton:hover {
    background-color: #2E7AA8;
    color: white;
}

.kinput:first-of-type {
    margin-left: 20px;
}

.kinput:hover {
    color: #444;
}

.kinput {
    width: 200px;
    margin: 0px 10px;
}

pre {
    padding: 0 20px;
}

.code {
    font-family: Consolas,monaco,monospace;
}

.clr {
    clear: both;
}

.tbl {
    margin-left: 20px;
    width: auto;
}

.clockStyle {
    margin-left: 20px;
    background-color: #39A0ED;
    border:#39A0ED 2px solid;
    padding:6px;
    color:#FFF;
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:16px;
    font-weight:bold;
    letter-spacing: 2px;
    display:inline;
}
