/* {
    background-color: #0099cc;
}
*/


h1#vtexte {
    color:FFCC00; text-align:center;

}

h1#priklad {
    font-size: 40px;

}

p {
    font-size: 20px;

}

p#vtexte {
    font-family:"arial CE";
    font-size: 20px;
    text-align: justify;
}

pre { 
    font-family:"arial CE";
}

iframe {
	position:absolute;
	top: 150px;
	left: calc(50% - 280px);
}

dy {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 

}

hr#druhy {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr#prvy {
    display: block;
    content: "";
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

p#cervena {
    font-family:"arial CE";
    font-size: 30px;
    text-align: justify;
    color:red;
}
